{% extends 'acq/base.html' %}
{% load static %}
{% block title %}Usuario: {{user.username}} {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
<div id="ventana">
	<p>
		<!-- Encabezado -->
		<label for="encabezado">DETALLE DE USUARIO: {{user.username}} </label>
	</p>
	<div>
		<table>
			<tr>
				<!-- Nombre de usuario-->
				<td class="etiqueta">Usuario:</td>
				<td class="dato">{{object.user.username}}</td>
			</tr>
			<tr>
				<!-- id de usuario -->
				<td class="etiqueta">Id del Usuario:</td>
				<td class="dato">{{object.user.pk}}</td>
			</tr>
			<tr>
				<!-- correo de usuario-->
				<td class="etiqueta">Email del Usuario:</td>
				<td class="dato">{{object.user.email}}</td>
			</tr>
        	<tr>
          		<!-- correo de usuario-->
          		<td class="etiqueta">Nombres:</td>
          		<td class="dato">{{object.user.first_name}}</td>
        	</tr>
        	<tr>
          		<!-- correo de usuario-->
          		<td class="etiqueta">Apellidos:</td>
          		<td class="dato">{{object.user.last_name}}</td>
        	</tr>
        	<tr>
          		<!-- SE REQUIERE ITERAR AQUI PARA DETERMINAR LOS PATIOS ASIGNADOS AL USUARIO-->
          		<td class="etiqueta">Patios:</td>
          		<td class="dato">{{patiosuser}}</td>
        	</tr>
        	<tr>
          		<!-- correo de usuario-->
          		<td class="etiqueta">Grupos :</td>
          		<td class="dato">{{grupos}}</td>
        	</tr>

          </tr>
          <tr>
              <!-- correo de usuario-->
              <td class="etiqueta">Area :</td>
              <td class="dato">{{aoruser}}</td>
          </tr>
		</table>
	</div>
	<a href="{% url 'uacq:list_user' %}" type="button" class="btn_control">
							<img class="imagen" src="{% static "recursos/iconos/atras24x24.png" %}"/>Regresar</a>
</div>
{% endblock %}
