acq/__pycache__/__init__.cpython-39.pyc
acq/__pycache__/admin.cpython-39.pyc
acq/__pycache__/apps.cpython-39.pyc
acq/__pycache__/calculos.cpython-39.pyc
acq/__pycache__/models.cpython-39.pyc
acq/__pycache__/urls.cpython-39.pyc
acq/__pycache__/validaciones.cpython-39.pyc
acq/__pycache__/views.cpython-39.pyc
acq/forms/__pycache__/acqforms.cpython-39.pyc
acq/management/commands/__pycache__/acq.cpython-39.pyc
acq/management/commands/__pycache__/cpt.cpython-39.pyc
acq/migrations/__pycache__/__init__.cpython-39.pyc
acq/migrations/__pycache__/0001_initial.cpython-39.pyc
acq/migrations/__pycache__/0002_auto_20210830_1257.cpython-39.pyc
acq/migrations/__pycache__/0003_auto_20210830_1814.cpython-39.pyc
acq/templatetags/__pycache__/indices.cpython-39.pyc
sacvc/__pycache__/__init__.cpython-39.pyc
sacvc/__pycache__/settings.cpython-39.pyc
sacvc/__pycache__/urls.cpython-39.pyc
sacvc/__pycache__/wsgi.cpython-39.pyc
