alabaster
asgiref
attrs
Babel
certifi
chardet
coverage
dj-database-url
django
django-crispy-forms
django-heroku
docutils
gunicorn
idna
imagesize
importlib-metadata
Jinja2
MarkupSafe
more-itertools
numpy
packaging
pandas
pluggy
psycopg2
psycopg2-binary
py
Pygments
pyparsing
pyserial
pytest
pytest-cov
python-dateutil
python-decouple
python-nmap
pytz
requests
scapy
six
snowballstemmer
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sqlparse
uModbus
urllib3
wcwidth
whitenoise
zipp
