DATOS VALIDADOS:<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>nivel</th>
      <th>volumen</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.00</td>
      <td>10.000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.05</td>
      <td>405.000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.10</td>
      <td>1.195</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.15</td>
      <td>2.301</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.20</td>
      <td>3.644</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0.25</td>
      <td>5.233</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.30</td>
      <td>6.821</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0.35</td>
      <td>8.410</td>
    </tr>
    <tr>
      <th>8</th>
      <td>0.40</td>
      <td>9.998</td>
    </tr>
    <tr>
      <th>9</th>
      <td>0.45</td>
      <td>11.587</td>
    </tr>
    <tr>
      <th>10</th>
      <td>0.50</td>
      <td>13.175</td>
    </tr>
    <tr>
      <th>11</th>
      <td>0.55</td>
      <td>14.764</td>
    </tr>
    <tr>
      <th>12</th>
      <td>0.60</td>
      <td>16.352</td>
    </tr>
    <tr>
      <th>13</th>
      <td>0.65</td>
      <td>17.941</td>
    </tr>
    <tr>
      <th>14</th>
      <td>0.70</td>
      <td>19.529</td>
    </tr>
    <tr>
      <th>15</th>
      <td>0.75</td>
      <td>21.118</td>
    </tr>
    <tr>
      <th>16</th>
      <td>0.80</td>
      <td>22.706</td>
    </tr>
    <tr>
      <th>17</th>
      <td>0.85</td>
      <td>24.295</td>
    </tr>
    <tr>
      <th>18</th>
      <td>0.90</td>
      <td>25.883</td>
    </tr>
    <tr>
      <th>19</th>
      <td>0.95</td>
      <td>27.472</td>
    </tr>
    <tr>
      <th>20</th>
      <td>1.00</td>
      <td>29.060</td>
    </tr>
    <tr>
      <th>21</th>
      <td>1.05</td>
      <td>30.649</td>
    </tr>
    <tr>
      <th>22</th>
      <td>1.10</td>
      <td>32.237</td>
    </tr>
    <tr>
      <th>23</th>
      <td>1.15</td>
      <td>33.826</td>
    </tr>
    <tr>
      <th>24</th>
      <td>1.20</td>
      <td>35.414</td>
    </tr>
    <tr>
      <th>25</th>
      <td>1.25</td>
      <td>37.003</td>
    </tr>
    <tr>
      <th>26</th>
      <td>1.30</td>
      <td>38.591</td>
    </tr>
    <tr>
      <th>27</th>
      <td>1.35</td>
      <td>40.180</td>
    </tr>
    <tr>
      <th>28</th>
      <td>1.40</td>
      <td>41.768</td>
    </tr>
    <tr>
      <th>29</th>
      <td>1.45</td>
      <td>43.357</td>
    </tr>
    <tr>
      <th>30</th>
      <td>1.50</td>
      <td>44.945</td>
    </tr>
    <tr>
      <th>31</th>
      <td>1.55</td>
      <td>46.534</td>
    </tr>
    <tr>
      <th>32</th>
      <td>1.60</td>
      <td>48.122</td>
    </tr>
    <tr>
      <th>33</th>
      <td>1.65</td>
      <td>49.711</td>
    </tr>
    <tr>
      <th>34</th>
      <td>1.70</td>
      <td>51.299</td>
    </tr>
    <tr>
      <th>35</th>
      <td>1.75</td>
      <td>52.888</td>
    </tr>
    <tr>
      <th>36</th>
      <td>1.80</td>
      <td>54.476</td>
    </tr>
    <tr>
      <th>37</th>
      <td>1.85</td>
      <td>56.065</td>
    </tr>
    <tr>
      <th>38</th>
      <td>1.90</td>
      <td>57.010</td>
    </tr>
    <tr>
      <th>39</th>
      <td>1.95</td>
      <td>57.955</td>
    </tr>
    <tr>
      <th>40</th>
      <td>2.00</td>
      <td>58.900</td>
    </tr>
    <tr>
      <th>41</th>
      <td>2.05</td>
      <td>59.845</td>
    </tr>
    <tr>
      <th>42</th>
      <td>2.10</td>
      <td>60.790</td>
    </tr>
    <tr>
      <th>43</th>
      <td>2.15</td>
      <td>61.735</td>
    </tr>
    <tr>
      <th>44</th>
      <td>2.20</td>
      <td>63.323</td>
    </tr>
    <tr>
      <th>45</th>
      <td>2.25</td>
      <td>64.912</td>
    </tr>
    <tr>
      <th>46</th>
      <td>2.30</td>
      <td>66.500</td>
    </tr>
    <tr>
      <th>47</th>
      <td>2.35</td>
      <td>68.089</td>
    </tr>
    <tr>
      <th>48</th>
      <td>2.40</td>
      <td>69.677</td>
    </tr>
    <tr>
      <th>49</th>
      <td>2.45</td>
      <td>71.266</td>
    </tr>
    <tr>
      <th>50</th>
      <td>2.50</td>
      <td>72.854</td>
    </tr>
    <tr>
      <th>51</th>
      <td>2.55</td>
      <td>74.443</td>
    </tr>
    <tr>
      <th>52</th>
      <td>2.60</td>
      <td>76.031</td>
    </tr>
    <tr>
      <th>53</th>
      <td>2.65</td>
      <td>77.620</td>
    </tr>
    <tr>
      <th>54</th>
      <td>2.70</td>
      <td>79.208</td>
    </tr>
    <tr>
      <th>55</th>
      <td>2.75</td>
      <td>80.797</td>
    </tr>
    <tr>
      <th>56</th>
      <td>2.80</td>
      <td>82.385</td>
    </tr>
    <tr>
      <th>57</th>
      <td>2.85</td>
      <td>83.974</td>
    </tr>
    <tr>
      <th>58</th>
      <td>2.90</td>
      <td>85.562</td>
    </tr>
    <tr>
      <th>59</th>
      <td>2.95</td>
      <td>87.151</td>
    </tr>
    <tr>
      <th>60</th>
      <td>3.00</td>
      <td>88.739</td>
    </tr>
    <tr>
      <th>61</th>
      <td>3.05</td>
      <td>90.328</td>
    </tr>
    <tr>
      <th>62</th>
      <td>3.10</td>
      <td>91.916</td>
    </tr>
    <tr>
      <th>63</th>
      <td>3.15</td>
      <td>93.505</td>
    </tr>
    <tr>
      <th>64</th>
      <td>3.20</td>
      <td>95.093</td>
    </tr>
    <tr>
      <th>65</th>
      <td>3.25</td>
      <td>96.682</td>
    </tr>
    <tr>
      <th>66</th>
      <td>3.30</td>
      <td>98.270</td>
    </tr>
    <tr>
      <th>67</th>
      <td>3.35</td>
      <td>99.859</td>
    </tr>
    <tr>
      <th>68</th>
      <td>3.40</td>
      <td>101.447</td>
    </tr>
    <tr>
      <th>69</th>
      <td>3.45</td>
      <td>103.036</td>
    </tr>
    <tr>
      <th>70</th>
      <td>3.50</td>
      <td>104.624</td>
    </tr>
    <tr>
      <th>71</th>
      <td>3.55</td>
      <td>106.213</td>
    </tr>
    <tr>
      <th>72</th>
      <td>3.60</td>
      <td>107.801</td>
    </tr>
    <tr>
      <th>73</th>
      <td>3.65</td>
      <td>109.390</td>
    </tr>
    <tr>
      <th>74</th>
      <td>3.70</td>
      <td>110.978</td>
    </tr>
    <tr>
      <th>75</th>
      <td>3.75</td>
      <td>112.567</td>
    </tr>
    <tr>
      <th>76</th>
      <td>3.80</td>
      <td>114.155</td>
    </tr>
    <tr>
      <th>77</th>
      <td>3.85</td>
      <td>115.744</td>
    </tr>
    <tr>
      <th>78</th>
      <td>3.90</td>
      <td>117.332</td>
    </tr>
    <tr>
      <th>79</th>
      <td>3.95</td>
      <td>118.921</td>
    </tr>
    <tr>
      <th>80</th>
      <td>4.00</td>
      <td>120.509</td>
    </tr>
    <tr>
      <th>81</th>
      <td>4.05</td>
      <td>122.098</td>
    </tr>
    <tr>
      <th>82</th>
      <td>4.10</td>
      <td>123.686</td>
    </tr>
    <tr>
      <th>83</th>
      <td>4.15</td>
      <td>125.275</td>
    </tr>
    <tr>
      <th>84</th>
      <td>4.20</td>
      <td>126.863</td>
    </tr>
    <tr>
      <th>85</th>
      <td>4.25</td>
      <td>128.452</td>
    </tr>
    <tr>
      <th>86</th>
      <td>4.30</td>
      <td>130.040</td>
    </tr>
    <tr>
      <th>87</th>
      <td>4.35</td>
      <td>131.629</td>
    </tr>
    <tr>
      <th>88</th>
      <td>4.40</td>
      <td>133.217</td>
    </tr>
    <tr>
      <th>89</th>
      <td>4.45</td>
      <td>134.806</td>
    </tr>
    <tr>
      <th>90</th>
      <td>4.50</td>
      <td>136.394</td>
    </tr>
    <tr>
      <th>91</th>
      <td>4.55</td>
      <td>137.983</td>
    </tr>
    <tr>
      <th>92</th>
      <td>4.60</td>
      <td>139.571</td>
    </tr>
    <tr>
      <th>93</th>
      <td>4.65</td>
      <td>141.160</td>
    </tr>
    <tr>
      <th>94</th>
      <td>4.70</td>
      <td>142.748</td>
    </tr>
    <tr>
      <th>95</th>
      <td>4.75</td>
      <td>144.337</td>
    </tr>
    <tr>
      <th>96</th>
      <td>4.80</td>
      <td>145.925</td>
    </tr>
    <tr>
      <th>97</th>
      <td>4.85</td>
      <td>147.514</td>
    </tr>
    <tr>
      <th>98</th>
      <td>4.90</td>
      <td>149.102</td>
    </tr>
    <tr>
      <th>99</th>
      <td>4.95</td>
      <td>150.691</td>
    </tr>
    <tr>
      <th>100</th>
      <td>5.00</td>
      <td>152.279</td>
    </tr>
    <tr>
      <th>101</th>
      <td>5.05</td>
      <td>153.868</td>
    </tr>
    <tr>
      <th>102</th>
      <td>5.10</td>
      <td>155.456</td>
    </tr>
    <tr>
      <th>103</th>
      <td>5.15</td>
      <td>157.045</td>
    </tr>
    <tr>
      <th>104</th>
      <td>5.20</td>
      <td>158.633</td>
    </tr>
    <tr>
      <th>105</th>
      <td>5.25</td>
      <td>160.222</td>
    </tr>
    <tr>
      <th>106</th>
      <td>5.30</td>
      <td>161.810</td>
    </tr>
    <tr>
      <th>107</th>
      <td>5.35</td>
      <td>163.399</td>
    </tr>
    <tr>
      <th>108</th>
      <td>5.40</td>
      <td>164.987</td>
    </tr>
    <tr>
      <th>109</th>
      <td>5.45</td>
      <td>166.576</td>
    </tr>
    <tr>
      <th>110</th>
      <td>5.50</td>
      <td>168.164</td>
    </tr>
    <tr>
      <th>111</th>
      <td>5.55</td>
      <td>169.753</td>
    </tr>
    <tr>
      <th>112</th>
      <td>5.60</td>
      <td>171.341</td>
    </tr>
    <tr>
      <th>113</th>
      <td>5.65</td>
      <td>172.930</td>
    </tr>
    <tr>
      <th>114</th>
      <td>5.70</td>
      <td>174.518</td>
    </tr>
    <tr>
      <th>115</th>
      <td>5.75</td>
      <td>176.107</td>
    </tr>
    <tr>
      <th>116</th>
      <td>5.80</td>
      <td>177.695</td>
    </tr>
    <tr>
      <th>117</th>
      <td>5.85</td>
      <td>179.284</td>
    </tr>
    <tr>
      <th>118</th>
      <td>5.90</td>
      <td>180.872</td>
    </tr>
    <tr>
      <th>119</th>
      <td>5.95</td>
      <td>182.461</td>
    </tr>
    <tr>
      <th>120</th>
      <td>6.00</td>
      <td>184.049</td>
    </tr>
    <tr>
      <th>121</th>
      <td>6.05</td>
      <td>185.638</td>
    </tr>
    <tr>
      <th>122</th>
      <td>6.10</td>
      <td>187.226</td>
    </tr>
    <tr>
      <th>123</th>
      <td>6.15</td>
      <td>188.815</td>
    </tr>
    <tr>
      <th>124</th>
      <td>6.20</td>
      <td>190.403</td>
    </tr>
    <tr>
      <th>125</th>
      <td>6.25</td>
      <td>191.992</td>
    </tr>
    <tr>
      <th>126</th>
      <td>6.30</td>
      <td>193.580</td>
    </tr>
    <tr>
      <th>127</th>
      <td>6.35</td>
      <td>195.169</td>
    </tr>
    <tr>
      <th>128</th>
      <td>6.40</td>
      <td>196.757</td>
    </tr>
    <tr>
      <th>129</th>
      <td>6.45</td>
      <td>198.346</td>
    </tr>
    <tr>
      <th>130</th>
      <td>6.50</td>
      <td>199.934</td>
    </tr>
    <tr>
      <th>131</th>
      <td>6.55</td>
      <td>201.523</td>
    </tr>
    <tr>
      <th>132</th>
      <td>6.60</td>
      <td>203.111</td>
    </tr>
    <tr>
      <th>133</th>
      <td>6.65</td>
      <td>204.700</td>
    </tr>
    <tr>
      <th>134</th>
      <td>6.70</td>
      <td>206.288</td>
    </tr>
    <tr>
      <th>135</th>
      <td>6.75</td>
      <td>207.877</td>
    </tr>
    <tr>
      <th>136</th>
      <td>6.80</td>
      <td>209.465</td>
    </tr>
    <tr>
      <th>137</th>
      <td>6.85</td>
      <td>211.054</td>
    </tr>
    <tr>
      <th>138</th>
      <td>6.90</td>
      <td>212.642</td>
    </tr>
    <tr>
      <th>139</th>
      <td>6.95</td>
      <td>214.231</td>
    </tr>
    <tr>
      <th>140</th>
      <td>7.00</td>
      <td>215.819</td>
    </tr>
    <tr>
      <th>141</th>
      <td>7.05</td>
      <td>217.408</td>
    </tr>
    <tr>
      <th>142</th>
      <td>7.10</td>
      <td>218.996</td>
    </tr>
    <tr>
      <th>143</th>
      <td>7.15</td>
      <td>220.585</td>
    </tr>
    <tr>
      <th>144</th>
      <td>7.20</td>
      <td>222.173</td>
    </tr>
    <tr>
      <th>145</th>
      <td>7.25</td>
      <td>223.762</td>
    </tr>
    <tr>
      <th>146</th>
      <td>7.30</td>
      <td>225.350</td>
    </tr>
    <tr>
      <th>147</th>
      <td>7.35</td>
      <td>226.939</td>
    </tr>
    <tr>
      <th>148</th>
      <td>7.40</td>
      <td>228.527</td>
    </tr>
    <tr>
      <th>149</th>
      <td>7.45</td>
      <td>230.116</td>
    </tr>
    <tr>
      <th>150</th>
      <td>7.50</td>
      <td>231.704</td>
    </tr>
    <tr>
      <th>151</th>
      <td>7.55</td>
      <td>233.293</td>
    </tr>
    <tr>
      <th>152</th>
      <td>7.60</td>
      <td>234.881</td>
    </tr>
    <tr>
      <th>153</th>
      <td>7.65</td>
      <td>236.470</td>
    </tr>
    <tr>
      <th>154</th>
      <td>7.70</td>
      <td>238.058</td>
    </tr>
    <tr>
      <th>155</th>
      <td>7.75</td>
      <td>239.647</td>
    </tr>
    <tr>
      <th>156</th>
      <td>7.80</td>
      <td>241.235</td>
    </tr>
    <tr>
      <th>157</th>
      <td>7.85</td>
      <td>242.824</td>
    </tr>
    <tr>
      <th>158</th>
      <td>7.90</td>
      <td>244.412</td>
    </tr>
    <tr>
      <th>159</th>
      <td>7.95</td>
      <td>246.001</td>
    </tr>
    <tr>
      <th>160</th>
      <td>8.00</td>
      <td>247.589</td>
    </tr>
    <tr>
      <th>161</th>
      <td>8.05</td>
      <td>249.178</td>
    </tr>
    <tr>
      <th>162</th>
      <td>8.10</td>
      <td>250.766</td>
    </tr>
    <tr>
      <th>163</th>
      <td>8.15</td>
      <td>252.355</td>
    </tr>
    <tr>
      <th>164</th>
      <td>8.20</td>
      <td>253.943</td>
    </tr>
    <tr>
      <th>165</th>
      <td>8.25</td>
      <td>255.532</td>
    </tr>
    <tr>
      <th>166</th>
      <td>8.30</td>
      <td>257.120</td>
    </tr>
    <tr>
      <th>167</th>
      <td>8.35</td>
      <td>258.709</td>
    </tr>
    <tr>
      <th>168</th>
      <td>8.40</td>
      <td>260.297</td>
    </tr>
    <tr>
      <th>169</th>
      <td>8.45</td>
      <td>261.886</td>
    </tr>
    <tr>
      <th>170</th>
      <td>8.50</td>
      <td>263.474</td>
    </tr>
    <tr>
      <th>171</th>
      <td>8.55</td>
      <td>265.063</td>
    </tr>
    <tr>
      <th>172</th>
      <td>8.60</td>
      <td>266.651</td>
    </tr>
    <tr>
      <th>173</th>
      <td>8.65</td>
      <td>268.240</td>
    </tr>
    <tr>
      <th>174</th>
      <td>8.70</td>
      <td>269.828</td>
    </tr>
    <tr>
      <th>175</th>
      <td>8.75</td>
      <td>271.417</td>
    </tr>
    <tr>
      <th>176</th>
      <td>8.80</td>
      <td>273.005</td>
    </tr>
    <tr>
      <th>177</th>
      <td>8.85</td>
      <td>274.594</td>
    </tr>
    <tr>
      <th>178</th>
      <td>8.90</td>
      <td>276.182</td>
    </tr>
    <tr>
      <th>179</th>
      <td>8.95</td>
      <td>277.771</td>
    </tr>
    <tr>
      <th>180</th>
      <td>9.00</td>
      <td>279.359</td>
    </tr>
    <tr>
      <th>181</th>
      <td>9.05</td>
      <td>280.948</td>
    </tr>
    <tr>
      <th>182</th>
      <td>9.10</td>
      <td>282.536</td>
    </tr>
    <tr>
      <th>183</th>
      <td>9.15</td>
      <td>284.125</td>
    </tr>
    <tr>
      <th>184</th>
      <td>9.20</td>
      <td>285.713</td>
    </tr>
    <tr>
      <th>185</th>
      <td>9.25</td>
      <td>287.302</td>
    </tr>
    <tr>
      <th>186</th>
      <td>9.30</td>
      <td>288.890</td>
    </tr>
    <tr>
      <th>187</th>
      <td>9.35</td>
      <td>290.479</td>
    </tr>
    <tr>
      <th>188</th>
      <td>9.40</td>
      <td>292.067</td>
    </tr>
    <tr>
      <th>189</th>
      <td>9.45</td>
      <td>293.656</td>
    </tr>
    <tr>
      <th>190</th>
      <td>9.50</td>
      <td>295.244</td>
    </tr>
    <tr>
      <th>191</th>
      <td>9.55</td>
      <td>296.833</td>
    </tr>
    <tr>
      <th>192</th>
      <td>9.60</td>
      <td>298.421</td>
    </tr>
    <tr>
      <th>193</th>
      <td>9.65</td>
      <td>300.010</td>
    </tr>
    <tr>
      <th>194</th>
      <td>9.70</td>
      <td>301.598</td>
    </tr>
    <tr>
      <th>195</th>
      <td>9.75</td>
      <td>303.187</td>
    </tr>
    <tr>
      <th>196</th>
      <td>9.80</td>
      <td>304.775</td>
    </tr>
    <tr>
      <th>197</th>
      <td>9.85</td>
      <td>306.364</td>
    </tr>
    <tr>
      <th>198</th>
      <td>9.90</td>
      <td>307.952</td>
    </tr>
    <tr>
      <th>199</th>
      <td>9.95</td>
      <td>309.541</td>
    </tr>
    <tr>
      <th>200</th>
      <td>10.00</td>
      <td>311.129</td>
    </tr>
    <tr>
      <th>201</th>
      <td>10.05</td>
      <td>312.718</td>
    </tr>
    <tr>
      <th>202</th>
      <td>10.10</td>
      <td>314.306</td>
    </tr>
    <tr>
      <th>203</th>
      <td>10.15</td>
      <td>315.895</td>
    </tr>
    <tr>
      <th>204</th>
      <td>10.20</td>
      <td>317.483</td>
    </tr>
    <tr>
      <th>205</th>
      <td>10.25</td>
      <td>319.072</td>
    </tr>
    <tr>
      <th>206</th>
      <td>10.30</td>
      <td>320.660</td>
    </tr>
    <tr>
      <th>207</th>
      <td>10.35</td>
      <td>322.249</td>
    </tr>
    <tr>
      <th>208</th>
      <td>10.40</td>
      <td>323.837</td>
    </tr>
    <tr>
      <th>209</th>
      <td>10.45</td>
      <td>325.426</td>
    </tr>
    <tr>
      <th>210</th>
      <td>10.50</td>
      <td>327.014</td>
    </tr>
    <tr>
      <th>211</th>
      <td>10.55</td>
      <td>328.603</td>
    </tr>
    <tr>
      <th>212</th>
      <td>10.60</td>
      <td>330.191</td>
    </tr>
    <tr>
      <th>213</th>
      <td>10.65</td>
      <td>331.780</td>
    </tr>
    <tr>
      <th>214</th>
      <td>10.70</td>
      <td>333.368</td>
    </tr>
    <tr>
      <th>215</th>
      <td>10.75</td>
      <td>334.957</td>
    </tr>
    <tr>
      <th>216</th>
      <td>10.80</td>
      <td>336.545</td>
    </tr>
    <tr>
      <th>217</th>
      <td>10.85</td>
      <td>338.134</td>
    </tr>
    <tr>
      <th>218</th>
      <td>10.90</td>
      <td>339.722</td>
    </tr>
    <tr>
      <th>219</th>
      <td>10.95</td>
      <td>341.311</td>
    </tr>
    <tr>
      <th>220</th>
      <td>11.00</td>
      <td>342.901</td>
    </tr>
    <tr>
      <th>221</th>
      <td>11.05</td>
      <td>344.491</td>
    </tr>
    <tr>
      <th>222</th>
      <td>11.10</td>
      <td>346.081</td>
    </tr>
    <tr>
      <th>223</th>
      <td>11.15</td>
      <td>347.671</td>
    </tr>
    <tr>
      <th>224</th>
      <td>11.20</td>
      <td>349.261</td>
    </tr>
    <tr>
      <th>225</th>
      <td>11.25</td>
      <td>350.851</td>
    </tr>
    <tr>
      <th>226</th>
      <td>11.30</td>
      <td>352.441</td>
    </tr>
    <tr>
      <th>227</th>
      <td>11.35</td>
      <td>354.031</td>
    </tr>
    <tr>
      <th>228</th>
      <td>11.40</td>
      <td>355.621</td>
    </tr>
    <tr>
      <th>229</th>
      <td>11.45</td>
      <td>357.211</td>
    </tr>
    <tr>
      <th>230</th>
      <td>11.50</td>
      <td>358.801</td>
    </tr>
    <tr>
      <th>231</th>
      <td>11.55</td>
      <td>360.391</td>
    </tr>
    <tr>
      <th>232</th>
      <td>11.60</td>
      <td>361.981</td>
    </tr>
    <tr>
      <th>233</th>
      <td>11.65</td>
      <td>363.571</td>
    </tr>
    <tr>
      <th>234</th>
      <td>11.70</td>
      <td>365.161</td>
    </tr>
    <tr>
      <th>235</th>
      <td>11.75</td>
      <td>366.751</td>
    </tr>
    <tr>
      <th>236</th>
      <td>11.80</td>
      <td>368.341</td>
    </tr>
    <tr>
      <th>237</th>
      <td>11.85</td>
      <td>369.931</td>
    </tr>
    <tr>
      <th>238</th>
      <td>11.90</td>
      <td>371.521</td>
    </tr>
    <tr>
      <th>239</th>
      <td>11.95</td>
      <td>373.111</td>
    </tr>
    <tr>
      <th>240</th>
      <td>12.00</td>
      <td>374.701</td>
    </tr>
    <tr>
      <th>241</th>
      <td>12.05</td>
      <td>376.291</td>
    </tr>
    <tr>
      <th>242</th>
      <td>12.10</td>
      <td>377.881</td>
    </tr>
    <tr>
      <th>243</th>
      <td>12.15</td>
      <td>379.471</td>
    </tr>
    <tr>
      <th>244</th>
      <td>12.20</td>
      <td>381.061</td>
    </tr>
    <tr>
      <th>245</th>
      <td>12.25</td>
      <td>382.651</td>
    </tr>
    <tr>
      <th>246</th>
      <td>12.30</td>
      <td>384.241</td>
    </tr>
    <tr>
      <th>247</th>
      <td>12.35</td>
      <td>385.831</td>
    </tr>
    <tr>
      <th>248</th>
      <td>12.40</td>
      <td>387.421</td>
    </tr>
    <tr>
      <th>249</th>
      <td>12.45</td>
      <td>389.011</td>
    </tr>
    <tr>
      <th>250</th>
      <td>12.50</td>
      <td>390.601</td>
    </tr>
    <tr>
      <th>251</th>
      <td>12.55</td>
      <td>392.191</td>
    </tr>
    <tr>
      <th>252</th>
      <td>12.60</td>
      <td>393.781</td>
    </tr>
    <tr>
      <th>253</th>
      <td>12.65</td>
      <td>395.371</td>
    </tr>
    <tr>
      <th>254</th>
      <td>12.70</td>
      <td>396.961</td>
    </tr>
    <tr>
      <th>255</th>
      <td>12.75</td>
      <td>398.551</td>
    </tr>
    <tr>
      <th>256</th>
      <td>12.80</td>
      <td>400.141</td>
    </tr>
    <tr>
      <th>257</th>
      <td>12.85</td>
      <td>401.731</td>
    </tr>
    <tr>
      <th>258</th>
      <td>12.90</td>
      <td>403.321</td>
    </tr>
    <tr>
      <th>259</th>
      <td>12.95</td>
      <td>404.911</td>
    </tr>
    <tr>
      <th>260</th>
      <td>13.00</td>
      <td>406.501</td>
    </tr>
    <tr>
      <th>261</th>
      <td>13.05</td>
      <td>408.091</td>
    </tr>
    <tr>
      <th>262</th>
      <td>13.10</td>
      <td>409.681</td>
    </tr>
    <tr>
      <th>263</th>
      <td>13.15</td>
      <td>411.271</td>
    </tr>
    <tr>
      <th>264</th>
      <td>13.20</td>
      <td>412.861</td>
    </tr>
    <tr>
      <th>265</th>
      <td>13.25</td>
      <td>414.451</td>
    </tr>
    <tr>
      <th>266</th>
      <td>13.30</td>
      <td>416.041</td>
    </tr>
    <tr>
      <th>267</th>
      <td>13.35</td>
      <td>417.631</td>
    </tr>
    <tr>
      <th>268</th>
      <td>13.40</td>
      <td>419.221</td>
    </tr>
    <tr>
      <th>269</th>
      <td>13.45</td>
      <td>420.811</td>
    </tr>
    <tr>
      <th>270</th>
      <td>13.50</td>
      <td>422.401</td>
    </tr>
    <tr>
      <th>271</th>
      <td>13.55</td>
      <td>423.991</td>
    </tr>
    <tr>
      <th>272</th>
      <td>13.60</td>
      <td>425.581</td>
    </tr>
    <tr>
      <th>273</th>
      <td>13.65</td>
      <td>427.171</td>
    </tr>
    <tr>
      <th>274</th>
      <td>13.70</td>
      <td>428.761</td>
    </tr>
    <tr>
      <th>275</th>
      <td>13.75</td>
      <td>430.351</td>
    </tr>
    <tr>
      <th>276</th>
      <td>13.80</td>
      <td>431.941</td>
    </tr>
    <tr>
      <th>277</th>
      <td>13.85</td>
      <td>433.531</td>
    </tr>
    <tr>
      <th>278</th>
      <td>13.90</td>
      <td>435.121</td>
    </tr>
    <tr>
      <th>279</th>
      <td>13.95</td>
      <td>436.711</td>
    </tr>
    <tr>
      <th>280</th>
      <td>14.00</td>
      <td>438.301</td>
    </tr>
    <tr>
      <th>281</th>
      <td>14.05</td>
      <td>439.891</td>
    </tr>
    <tr>
      <th>282</th>
      <td>14.10</td>
      <td>441.481</td>
    </tr>
    <tr>
      <th>283</th>
      <td>14.15</td>
      <td>443.071</td>
    </tr>
    <tr>
      <th>284</th>
      <td>14.20</td>
      <td>444.661</td>
    </tr>
    <tr>
      <th>285</th>
      <td>14.25</td>
      <td>446.251</td>
    </tr>
    <tr>
      <th>286</th>
      <td>14.30</td>
      <td>447.841</td>
    </tr>
    <tr>
      <th>287</th>
      <td>14.35</td>
      <td>449.431</td>
    </tr>
    <tr>
      <th>288</th>
      <td>14.40</td>
      <td>451.021</td>
    </tr>
    <tr>
      <th>289</th>
      <td>14.45</td>
      <td>452.611</td>
    </tr>
    <tr>
      <th>290</th>
      <td>14.50</td>
      <td>454.201</td>
    </tr>
    <tr>
      <th>291</th>
      <td>14.55</td>
      <td>455.791</td>
    </tr>
    <tr>
      <th>292</th>
      <td>14.60</td>
      <td>457.381</td>
    </tr>
    <tr>
      <th>293</th>
      <td>14.65</td>
      <td>458.971</td>
    </tr>
    <tr>
      <th>294</th>
      <td>14.70</td>
      <td>460.561</td>
    </tr>
    <tr>
      <th>295</th>
      <td>14.75</td>
      <td>462.151</td>
    </tr>
    <tr>
      <th>296</th>
      <td>14.80</td>
      <td>463.741</td>
    </tr>
    <tr>
      <th>297</th>
      <td>14.85</td>
      <td>465.331</td>
    </tr>
    <tr>
      <th>298</th>
      <td>14.90</td>
      <td>466.921</td>
    </tr>
    <tr>
      <th>299</th>
      <td>14.95</td>
      <td>468.511</td>
    </tr>
    <tr>
      <th>300</th>
      <td>15.00</td>
      <td>470.101</td>
    </tr>
    <tr>
      <th>301</th>
      <td>15.05</td>
      <td>471.691</td>
    </tr>
    <tr>
      <th>302</th>
      <td>15.10</td>
      <td>473.281</td>
    </tr>
    <tr>
      <th>303</th>
      <td>15.15</td>
      <td>474.871</td>
    </tr>
    <tr>
      <th>304</th>
      <td>15.20</td>
      <td>476.461</td>
    </tr>
    <tr>
      <th>305</th>
      <td>15.25</td>
      <td>478.051</td>
    </tr>
    <tr>
      <th>306</th>
      <td>15.30</td>
      <td>479.641</td>
    </tr>
    <tr>
      <th>307</th>
      <td>15.35</td>
      <td>481.231</td>
    </tr>
    <tr>
      <th>308</th>
      <td>15.40</td>
      <td>482.821</td>
    </tr>
    <tr>
      <th>309</th>
      <td>15.45</td>
      <td>484.411</td>
    </tr>
    <tr>
      <th>310</th>
      <td>15.50</td>
      <td>486.001</td>
    </tr>
    <tr>
      <th>311</th>
      <td>15.55</td>
      <td>487.591</td>
    </tr>
    <tr>
      <th>312</th>
      <td>15.60</td>
      <td>489.181</td>
    </tr>
    <tr>
      <th>313</th>
      <td>15.65</td>
      <td>490.771</td>
    </tr>
    <tr>
      <th>314</th>
      <td>15.70</td>
      <td>492.361</td>
    </tr>
    <tr>
      <th>315</th>
      <td>15.75</td>
      <td>493.951</td>
    </tr>
    <tr>
      <th>316</th>
      <td>15.80</td>
      <td>495.541</td>
    </tr>
    <tr>
      <th>317</th>
      <td>15.85</td>
      <td>497.131</td>
    </tr>
    <tr>
      <th>318</th>
      <td>15.90</td>
      <td>498.721</td>
    </tr>
    <tr>
      <th>319</th>
      <td>15.95</td>
      <td>500.311</td>
    </tr>
    <tr>
      <th>320</th>
      <td>16.00</td>
      <td>501.901</td>
    </tr>
    <tr>
      <th>321</th>
      <td>16.05</td>
      <td>503.491</td>
    </tr>
    <tr>
      <th>322</th>
      <td>16.10</td>
      <td>505.081</td>
    </tr>
    <tr>
      <th>323</th>
      <td>16.15</td>
      <td>506.671</td>
    </tr>
    <tr>
      <th>324</th>
      <td>16.20</td>
      <td>508.261</td>
    </tr>
    <tr>
      <th>325</th>
      <td>16.25</td>
      <td>509.851</td>
    </tr>
    <tr>
      <th>326</th>
      <td>16.30</td>
      <td>511.441</td>
    </tr>
    <tr>
      <th>327</th>
      <td>16.35</td>
      <td>513.031</td>
    </tr>
    <tr>
      <th>328</th>
      <td>16.40</td>
      <td>514.621</td>
    </tr>
    <tr>
      <th>329</th>
      <td>16.45</td>
      <td>516.211</td>
    </tr>
    <tr>
      <th>330</th>
      <td>16.50</td>
      <td>517.801</td>
    </tr>
    <tr>
      <th>331</th>
      <td>16.55</td>
      <td>519.391</td>
    </tr>
    <tr>
      <th>332</th>
      <td>16.60</td>
      <td>520.981</td>
    </tr>
    <tr>
      <th>333</th>
      <td>16.65</td>
      <td>522.571</td>
    </tr>
    <tr>
      <th>334</th>
      <td>16.70</td>
      <td>524.161</td>
    </tr>
    <tr>
      <th>335</th>
      <td>16.75</td>
      <td>525.751</td>
    </tr>
    <tr>
      <th>336</th>
      <td>16.80</td>
      <td>527.341</td>
    </tr>
    <tr>
      <th>337</th>
      <td>16.85</td>
      <td>528.931</td>
    </tr>
    <tr>
      <th>338</th>
      <td>16.90</td>
      <td>530.521</td>
    </tr>
    <tr>
      <th>339</th>
      <td>16.95</td>
      <td>532.111</td>
    </tr>
    <tr>
      <th>340</th>
      <td>17.00</td>
      <td>533.701</td>
    </tr>
    <tr>
      <th>341</th>
      <td>17.05</td>
      <td>535.291</td>
    </tr>
    <tr>
      <th>342</th>
      <td>17.10</td>
      <td>536.881</td>
    </tr>
    <tr>
      <th>343</th>
      <td>17.15</td>
      <td>538.471</td>
    </tr>
    <tr>
      <th>344</th>
      <td>17.20</td>
      <td>540.061</td>
    </tr>
    <tr>
      <th>345</th>
      <td>17.25</td>
      <td>541.651</td>
    </tr>
    <tr>
      <th>346</th>
      <td>17.30</td>
      <td>543.241</td>
    </tr>
    <tr>
      <th>347</th>
      <td>17.35</td>
      <td>544.831</td>
    </tr>
    <tr>
      <th>348</th>
      <td>17.40</td>
      <td>546.421</td>
    </tr>
    <tr>
      <th>349</th>
      <td>17.45</td>
      <td>548.011</td>
    </tr>
    <tr>
      <th>350</th>
      <td>17.50</td>
      <td>549.601</td>
    </tr>
    <tr>
      <th>351</th>
      <td>17.55</td>
      <td>551.191</td>
    </tr>
    <tr>
      <th>352</th>
      <td>17.60</td>
      <td>552.781</td>
    </tr>
    <tr>
      <th>353</th>
      <td>17.65</td>
      <td>554.371</td>
    </tr>
    <tr>
      <th>354</th>
      <td>17.70</td>
      <td>555.961</td>
    </tr>
    <tr>
      <th>355</th>
      <td>17.75</td>
      <td>557.551</td>
    </tr>
    <tr>
      <th>356</th>
      <td>17.80</td>
      <td>559.141</td>
    </tr>
    <tr>
      <th>357</th>
      <td>17.85</td>
      <td>560.731</td>
    </tr>
    <tr>
      <th>358</th>
      <td>17.90</td>
      <td>562.321</td>
    </tr>
    <tr>
      <th>359</th>
      <td>17.95</td>
      <td>563.911</td>
    </tr>
    <tr>
      <th>360</th>
      <td>18.00</td>
      <td>565.499</td>
    </tr>
    <tr>
      <th>361</th>
      <td>18.05</td>
      <td>567.089</td>
    </tr>
    <tr>
      <th>362</th>
      <td>18.10</td>
      <td>568.679</td>
    </tr>
    <tr>
      <th>363</th>
      <td>18.15</td>
      <td>570.269</td>
    </tr>
    <tr>
      <th>364</th>
      <td>18.20</td>
      <td>571.859</td>
    </tr>
    <tr>
      <th>365</th>
      <td>18.25</td>
      <td>573.449</td>
    </tr>
    <tr>
      <th>366</th>
      <td>18.30</td>
      <td>575.039</td>
    </tr>
    <tr>
      <th>367</th>
      <td>18.35</td>
      <td>576.629</td>
    </tr>
    <tr>
      <th>368</th>
      <td>18.40</td>
      <td>578.219</td>
    </tr>
    <tr>
      <th>369</th>
      <td>18.45</td>
      <td>579.809</td>
    </tr>
    <tr>
      <th>370</th>
      <td>18.50</td>
      <td>581.399</td>
    </tr>
    <tr>
      <th>371</th>
      <td>18.55</td>
      <td>582.989</td>
    </tr>
    <tr>
      <th>372</th>
      <td>18.60</td>
      <td>584.579</td>
    </tr>
    <tr>
      <th>373</th>
      <td>18.65</td>
      <td>586.169</td>
    </tr>
    <tr>
      <th>374</th>
      <td>18.70</td>
      <td>587.759</td>
    </tr>
    <tr>
      <th>375</th>
      <td>18.75</td>
      <td>589.349</td>
    </tr>
    <tr>
      <th>376</th>
      <td>18.80</td>
      <td>590.939</td>
    </tr>
    <tr>
      <th>377</th>
      <td>18.85</td>
      <td>592.529</td>
    </tr>
    <tr>
      <th>378</th>
      <td>18.90</td>
      <td>594.119</td>
    </tr>
    <tr>
      <th>379</th>
      <td>18.95</td>
      <td>595.709</td>
    </tr>
    <tr>
      <th>380</th>
      <td>19.00</td>
      <td>597.299</td>
    </tr>
    <tr>
      <th>381</th>
      <td>19.05</td>
      <td>598.889</td>
    </tr>
    <tr>
      <th>382</th>
      <td>19.10</td>
      <td>600.479</td>
    </tr>
    <tr>
      <th>383</th>
      <td>19.15</td>
      <td>602.069</td>
    </tr>
    <tr>
      <th>384</th>
      <td>19.20</td>
      <td>603.659</td>
    </tr>
    <tr>
      <th>385</th>
      <td>19.25</td>
      <td>605.249</td>
    </tr>
    <tr>
      <th>386</th>
      <td>19.30</td>
      <td>606.839</td>
    </tr>
    <tr>
      <th>387</th>
      <td>19.35</td>
      <td>608.429</td>
    </tr>
    <tr>
      <th>388</th>
      <td>19.40</td>
      <td>610.019</td>
    </tr>
    <tr>
      <th>389</th>
      <td>19.45</td>
      <td>611.609</td>
    </tr>
    <tr>
      <th>390</th>
      <td>19.50</td>
      <td>613.199</td>
    </tr>
    <tr>
      <th>391</th>
      <td>19.55</td>
      <td>614.789</td>
    </tr>
    <tr>
      <th>392</th>
      <td>19.60</td>
      <td>616.379</td>
    </tr>
    <tr>
      <th>393</th>
      <td>19.65</td>
      <td>617.969</td>
    </tr>
    <tr>
      <th>394</th>
      <td>19.70</td>
      <td>619.559</td>
    </tr>
    <tr>
      <th>395</th>
      <td>19.75</td>
      <td>621.149</td>
    </tr>
    <tr>
      <th>396</th>
      <td>19.80</td>
      <td>622.739</td>
    </tr>
    <tr>
      <th>397</th>
      <td>19.85</td>
      <td>624.329</td>
    </tr>
    <tr>
      <th>398</th>
      <td>19.90</td>
      <td>625.919</td>
    </tr>
    <tr>
      <th>399</th>
      <td>19.95</td>
      <td>627.509</td>
    </tr>
    <tr>
      <th>400</th>
      <td>20.00</td>
      <td>629.099</td>
    </tr>
    <tr>
      <th>401</th>
      <td>20.05</td>
      <td>630.689</td>
    </tr>
    <tr>
      <th>402</th>
      <td>20.10</td>
      <td>632.279</td>
    </tr>
    <tr>
      <th>403</th>
      <td>20.15</td>
      <td>633.869</td>
    </tr>
    <tr>
      <th>404</th>
      <td>20.20</td>
      <td>635.459</td>
    </tr>
    <tr>
      <th>405</th>
      <td>20.25</td>
      <td>637.049</td>
    </tr>
    <tr>
      <th>406</th>
      <td>20.30</td>
      <td>638.639</td>
    </tr>
    <tr>
      <th>407</th>
      <td>20.35</td>
      <td>640.229</td>
    </tr>
    <tr>
      <th>408</th>
      <td>20.40</td>
      <td>641.819</td>
    </tr>
    <tr>
      <th>409</th>
      <td>20.45</td>
      <td>643.409</td>
    </tr>
    <tr>
      <th>410</th>
      <td>20.50</td>
      <td>644.999</td>
    </tr>
    <tr>
      <th>411</th>
      <td>20.55</td>
      <td>646.589</td>
    </tr>
    <tr>
      <th>412</th>
      <td>20.60</td>
      <td>648.179</td>
    </tr>
    <tr>
      <th>413</th>
      <td>20.65</td>
      <td>649.769</td>
    </tr>
    <tr>
      <th>414</th>
      <td>20.70</td>
      <td>651.359</td>
    </tr>
    <tr>
      <th>415</th>
      <td>20.75</td>
      <td>652.949</td>
    </tr>
    <tr>
      <th>416</th>
      <td>20.80</td>
      <td>654.539</td>
    </tr>
    <tr>
      <th>417</th>
      <td>20.85</td>
      <td>656.129</td>
    </tr>
    <tr>
      <th>418</th>
      <td>20.90</td>
      <td>657.719</td>
    </tr>
    <tr>
      <th>419</th>
      <td>20.95</td>
      <td>659.309</td>
    </tr>
  </tbody>
</table>