{% extends "acq/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Validar Tk{% endblock %}

{% block content %}
<!-- CODIGO JS SIEMPRE DESPUES DE CODIGO CSS -->
<!--css & js-->
<link rel="stylesheet" href="{% static 'css/edit.css' %}">
<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"> </script>

<!--
<script src={% static 'js/barra_progreso.js' %} defer> </script>
-->

<div id="ventana">
	<p id="nrotanque" style="display:none;">{{tk.id}}</p>
	<p>
		<label for="encabezado">Validar archivo TCT</label>
	</p>

	<form method="post" enctype='multipart/form-data'>
		{% csrf_token %}

		<table>
			{% for field in form.visible_fields %}
			<tr>
				<td class="etiqueta">{{ field.label_tag }}</td>
				<td class="dato">{{ field }}</td>
			</tr>
			{% endfor %}
		</table>

		<div id="contenedor_barra">
			<div id="barra"></div>
		</div>

		{%if tk.tct_archivo%}

		{%endif%}
		<input id="tk_validar" type="submit" class="btn_control" value="Guardar en disco" />
	</form>

	<form method="get">
		{%if tk.tct_archivo%}

		<input id="tk_regresar" name='validar_archivo' type="submit" class="btn_control" value="Validar_Archivo" />
		{%if tk.tctvalido%}

		<!-- SOLO MUESTRA EL SIGUENTE BOTON SI EL ARCHIVO ES VALIDADO ANTES -->
		<input id="tk_modificar" name='guardar_tct_bd' type="submit" class="btn_control" value="Guardar_BD"
			onclick="mi_funcion1()" />
		{%endif%}

		{%endif%}
	</form>
</div>
{% endblock %}