{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}TAGS{% endblock %}</title>
    
    {% block stylesheet %}{% endblock %}

  </head>
  <body>


    <div id ="my_menu" align="center"> 


    <header>
     <h1>SACV.</h1>
    </header> 



<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>



<h2>Parámetros de Tk's - Valores Actuales:</h2>

<table >

    <main>
      
       <table >


  <tr>
    <th>Id</th>
    <th>Pv</th>
  <th>Timestamp</th>
  </tr>
  <tr>

    <td id="idtag"></td>
    

     <td id="pvtag"></td>
    
   <td id="tstag"></td>
     
  </tr> 

   {% block content %}
      {% endblock %}


</table>

</div>

     
    </main>

    <footer>
      ...
    </footer>
   <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
        
    {% block javascript %}{% endblock %}


   


  </body>
</html>