
  {% extends 'acq/base.html' %}
  {% block title %} Patios {% endblock %}
  {% block content %}
 



  <h2>Patios de Tanques o Terminales de Almaceamiento</h2>
   
      
       <table id="Patios">

  
    <th>NOMBRE </th>
    <th>ID</th>

{% for patio in object_list %}
  <tr>
 <td> {{ patio.Nombre }}</td>
    

     <td> {{ patio.pk }} </td>
    
 {% endfor %}

 <h2>Añadir Instalación</h2>

  Haga click <a href="{% url 'uacq:add_tf'  %}">aquí</a> para añadir una Instalación.

   {% endblock %}
