{% extends 'acq/base.html' %}

{% block content %}
  <h1 class="page-header">{{patiotanques}}</h1>
  <table class="table" id="Patios-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>NOMBRE</th>
      </tr>
    </thead>
    <tbody>
      {% for patiotanques in patiotanques_list %}
        <tr>
          <td>gggg</td>
          <td>lmmmoom</td>

        </tr>

      {% empty %}
        <tr>
          <td colspan="7" class="text-center bg-warning">No hay Patio declarado</td>

         </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}  