{% extends 'acq/base.html' %}
{% load static %}


{% block javascript %}
  <script src="{% static 'js/app_tct.js' %}"></script>

  <script src="{% static 'js/jquery-3.5.0.js' %}"></script> 

  
{% endblock %}



{% block content %}

<h2>Parámetros TCT Validados</h2>
   
      
       <table id="valores-tct")>

  
  
    <th>registro</th>
    <th>nivel</th>
    <th>volumen</th>
    


  <tr>
 <td id="registro"></td>
    

     <td id="nivel"></td>
    
   <td id="volumen"></td>
     
     

    
{% endblock %}