{% load static %} 

{% block title %} SACVC-Inicio {% endblock %} 
{% block content %}
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<img class="img" src="{% static "recursos/imagenes/tanques.jpg" %}">

{% if form.errors %}
<p>Su usuario o password no concuerdan. Intente de nuevo.</p>
{% endif %}

<div id="ventanalogin">
	<form method="post" action="{% url 'uacq:login' %}">
		{% csrf_token %}
		<p>
			<!-- Encabezado -->
			<label for="encabezado">INICIO DE SESÍON</label>
		</p>
		<div>
			<table id=tabla>
				<tr>
					<!-- Nombre de usuario -->
					<td><label for="nombre">Usuario:</label>
						<p tabindex="1">{{ form.username }}</p></td>

					<!-- Clave de usuario -->
					<td><label for="clave">Clave:</label>
						<p tabindex="2">{{ form.password }}</p></td>
				</tr>
			</table>
		</div>
		<button tabindex="3" type="submit" value="Login">Login</button>
	</form>
</div>
{% endblock %}
