
{% extends 'acq/base.html' %} 
{% load static %}
{% block title %}Grupo de tanques{% endblock %} 

{% block content %}
	{% block javascript %}
 		 <script src="{% static 'js/tanqueGrupo.js' %}"></script>
  	 <script src="{% static 'js/jquery-3.5.0.js' %}"></script>
	{% endblock %}

	<link rel="stylesheet" href="{% static 'css/grupo_tk.css' %}">
	
	<div id="container">
			{% csrf_token %}
			<p>
				<!-- Encabezado -->
				<label for="encabezado">PATIO DE TANQUES</label>
			</p>
			<table id="tablaExterna">			
			<!-- Primera fila -->
				<tr>
					<td>{% include "acq/grupo_tk/tanque.html" %}</td>
					<td>{% include "acq/grupo_tk/tanque.html" %}</td>
					<td>{% include "acq/grupo_tk/tanque.html" %}</td>
				</tr>			
			<!-- Segunda fila -->
				<tr>
					<td>{% include "acq/grupo_tk/tanque.html" %}</td>
					<td>{% include "acq/grupo_tk/tanque.html" %}</td>
					<td>{% include "acq/grupo_tk/tanque.html" %}</td>
				</tr>			
			</table>
	</div>
{% endblock %}
