{% extends 'acq/base.html' %}
{% load static %}
{% block title %}Grupo de tanques{% endblock %}
{% block content %}
	<link rel="stylesheet" href="{% static 'css/grupo_tk.css' %}">
   	<script src={% static 'js/jquery-3.6.0.min.js' %}></script>
   	<script src={% static 'js/leer_json.js' %}></script>
   
	<div id="ventana">
			{% csrf_token %} 
			<p>
				<!-- Encabezado -->
				<label for="encabezado">PATIO DE TANQUES</label>
			</p>
			<table id="tablaExterna">
				<tr>
					{% for tk in object_list %}
					<td id="tanque">
						<a href=" ">
							<p id="idtanque" class="idtanque">--</p>
							<p id="nivel" class="nivel">---</p>
								<div class="contenedor"> 
									<img src="{% static "recursos/imagenes/tanque.png" %}">
									<div id="contenedor_barra" class="contenedor_barra">
										<div id="barra" class="barra">0%</div>
									</div>
								</div>
						</a>
						<table id="tablaInterna">
							<tr>
								<br><br>
								<td>

									<label class="variable">TOV:</label>
									<!--<p class="tov">{{tk.current_data.TOV}}</p>-->
									<p id="tov" class="tov">--</p>
								</td>
							</tr>
							<tr>
								<td>
									<label class="variable">NSV:</label>
									<!--<p class="nsv">{{tk.current_data.NSV}}</p>-->
									<p id="nsv" class="nsv">--</p>
								</td>
							</tr>
							<tr>
								<td>
									<label class="variable">LT:</label>
									<!--<p class="lt">{{tk.current_data.LT}}</p>-->
									<p id="lt" class="lt">--</p>
								</td>
							</tr>
							<tr>
								<p id="cero" style="display: none;"></p>
								<p id="span" style="display: none;"></p>
							</tr>
						</table>
					{% cycle '' '' '</td></tr><tr>' %}
					{% endfor %}
				</tr>
			</table>
</div>
{% endblock %}
