.titulo {
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	color: #338599;
	margin:auto;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	padding: 0.5rem;
	border: solid 0.2rem #338599;
	border-radius: 0.4rem;
	width: 80%;
	text-transform: uppercase;
}

#ventana {
	position: absolute;
	/*posicion respecto a la esquina superior izquierda de body*/
	top: 15%; /* mayor que height de la imagen*/
	left: 10%; /*(100%-(width:24%))/2*/
	height: 82%;
	width: 80%;
	background-color:none;
	border-radius: 0.4rem;

	/*border: solid 1px black;*/
}

#barra_tanque{
	position: absolute;
	left: 1%;
	border-radius: 0.4rem;
	width: 34%;
	height: 45%;
	
	/*border: solid 1px black;*/
}

#tanque{
	color: white;
	padding-left: 2rem;
	padding-top: 4%;
	padding-left: 10%;
	font-size: 1.5rem;
	font-weight: bold;
	width: 80%;
	height: 80%;
	margin: 0 auto;
	margin-top: 4%;

	/*border: solid 1px black;*/
}

.tabla{
	table-layout: fixed;
	width: 100%;
	border-radius: 0.4rem;
}

#data_pri{
	position: absolute;
	left: 4%;
	top:50%;
	width: 31%;
	height: 49%;

	/*border: solid 1px black;*/
}

#data_sec{
	position: absolute;
	top: 4%;
	left: 36%;
	width: 63%;
	height: 99.5%;
}

#izq{
	position: absolute;
	top: 1%;
	left: 1%;
	width: 48%;

	
}

#der{
	position: absolute;
	top: 1%;
	left: 50%;
	width: 48%;

}

/*
#der, #izq{
	border: solid 1px black;
}
*/

.titulotabla{
	border: 1px solid BLACK;
	background-color: #117a8b;
	color: white;
	border-radius: 0.4rem;
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 2% 1%;
	margin-top: 3%;
	margin-bottom: 1%;
}

th,tr td{
	border: solid 1px;
	border-color: black;
}

#link_lt, #link_pt, #link_tt, #link_lta, #link_ays, #link_tov, #link_nsv, #link_gsv{
	/*
	display: none; 
	opacity: 0;	
	pointer-events: none;
	*/
	margin: 0 auto;
}

#idtanque{
	color: white;
	font-size: 1.4rem;
}

.etiqueta1 {
	color: white;
	background-color: #117a8b;
	width: 20%;
}

.etiqueta2 {
	color: white;
	background-color: #117a8b;
	width: 20%;
}

.dato {
	color: black;
	background-color: white;
	width: 40%;
	/*width: 80%;*/
}

.etiqueta1, .etiqueta2, .dato{
	padding-top: .5rem;
	/*border-radius: 0.4rem;*/
	margin-bottom: 0.4rem;
	padding-left: 1rem;	
	padding-right: 1rem;
	padding: 1% 2%;

	/*centramos vertical*/
	display: table-cell;
	vertical-align: middle;
}

.etiqueta1, .etiqueta2, .dato, #tanque, #nivel{
	font-weight: bold;
	font-size: 1rem;	
}

.btn_control {
	/*dimensiones del boton*/
	border-radius: 0.4rem;
	width: auto;
	height: 34px; /*depende del alto del icono*/
	padding-left: 4px; /*Ancho del icono+ 2 px*/
	padding-right: 4px;
	/*alinacion flex del contenido*/
	display: flex;
   	align-items: center; /*alineacion vertical*/
   	justify-content:center; /*alineacion horizontal*/
}


.btn_control:hover{
	text-decoration: none;
	background-color:#1cc1d9; /*fondo del link*/
	font-size:1.1rem;
	border-color: #000000;
}

.btn_control:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6ec2e8),
		to(#b6e2ff));
	background-image: -moz-linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
	background-image: linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
}


#regresar{
	position: absolute;
	left: 1.5rem; /*ver editar y salir en base.html*/
	top:45%;
}

a {
	background-color: #138496; 
	color: white; 
}

#imgregresar{	
	padding-right: 4px;
	float:left;	
}

#imgtanque{
	margin-left: 1rem;
	float:right;
	height: 100%;
	width: auto;
}

#nivel{
	color: black;
	width: 30%;
	text-align: center;
	height: 1.5rem;
	margin-top: 0.3rem;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	border-radius: 0.4rem;
}

/*barra de progreso*/

#contenedor{
	margin-left:2rem;
	float:left;
	height: 200px; /*Ajusta el tamaño del contenedor y la imagen*/
	padding-left: 1rem;
}

#contenedor_barra{
	position: relative;
	top: 45%;
	left:-45%;
	width: 70%;
	transform: rotate(-90deg);
	border-style:solid;
	border-width:1px;
	border-radius: 0.4rem;	
	border-color:black;
}

#contenedor_barra, #barra{
	height: 24px;
	border-radius: 0.4rem;	
	max-width: 106%; /*maximo recorrido*/
}

#barra{
	width: 0%;	/*Progreso inicial alabrir pagina*/
  	background-color: black; 
  	text-align: center; /* To center it horizontally (if you want) */
  	line-height: 18px; /* To center it vertically */
  	color: white; /*color del texto*/
  	font-weight: bold;	
  	font-size: 0px;
}

.not-visible {
    display: none;
}

.btn_tabla{
	position: relative;
	left: 10%;
	background-color: #117a8b;
	border-radius: 0.2rem;
	width: auto;
	padding: 1% 3%;
}

.img_interna{
	/*imagen a la izquierda y en el centro*/
	position: relative;
	width: 10%;
	/*border: 1px solid black;*/
}

.btn_tabla:disabled {
	opacity: 0.65;
	background-color: #117a8b;
	border-color: #10707f;
}

.btn_tabla:not(:disabled) {
	cursor: pointer;
}