#ventana {
	position: absolute;
	/*posicion respecto a la esquina superior izquierda de body*/
	top: 15%; /* mayor que height de la imagen*/
	height: auto;
	overflow-x: hidden;
	width: 40%;
	left: 30%; /*(100%-(width:24%))/2*/
	background: #fff;
	border-radius: 10px;
	border: 1px solid #ccc;
}

table, th, td {
	border: 1px solid black;
	vertical-align: middle;
}

table {
	width: 90%;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 25%;
}

label {
	display: inline-block;
	font-size: 14px;
}

label[for=encabezado] {
	border: 1px solid #c7d0d2;
	background-color: #117a8b;
	color: white;
	border-radius: 10px;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 2%;
	margin-top: 4%;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}

.etiqueta {
	padding-top: .5rem;
	padding-bottom: .5rem;
	background-color: #117a8b;
	margin-bottom: 0.4rem;
	width: 10rem;
	color: white;
	padding-left: 0.5rem;
}

.dato {
	padding-top: .5rem;
	padding-bottom: .5rem;
	width: 10rem;
	color: black;
	padding-left: 2rem;
	border-radius: 0.4rem;
}

.btn_control {
	position: absolute;
	/*posicion respecto a la esquina inferior derecha  de ventana*/
	bottom: 10%;
	/*dimensiones comunes de botones*/
	height: 34px; /*depende del alto del icono*/
	padding-left: 4px; 
	padding-right: 4px;
	
	/*alinacion flex del contenido*/
	display: flex;
   	align-items: center; /*alineacion vertical*/
   	justify-content:center; /*alineacion horizontal*/
	

	font-size: 14px;
	font-weight: bold;
	color: white;
	color: white;
	background-color: #117a8b;
	border-radius: 0.4rem;
}

.imagen{	
	padding-right: 4px;
	float:left;	
}

/*para edit_tk, edit_tf, del_tk, del_tf, cambiar_clave*/
#tk_modificar {
	right: 17%; 
	padding-left: 2rem;
}

#tk_regresar {
	left: 17%;
	padding-left: 1rem;
}

/*Solo para vista edit_usr*/
/*********************/
#usrModificar {
	width: 25%;
	/*posiciono el boton*/
	margin-left: 80%;	/*Centro del boton*/
  	transform: translateX(-50%); 
}

#usrRegresar {
	width: 25%;
	/*posiciono el boton*/
	margin-left: 50%;	/*Centro del boton*/
  	transform: translateX(-50%); 
}

#usrPatio {
	width: 25%;
	/*posiciono el boton*/
	margin-left: 20%;	/*Centro del boton*/
  	transform: translateX(-50%); 
}

#usrClave {
	bottom: 1%;
	width: 25%;
	margin-left: 66%;	/*Centro del boton*/
  	transform: translateX(-50%); 
}
#usrArea {
	bottom: 1%;
	width: 25%;
	margin-left: 33%;	/*Centro del boton*/
  	transform: translateX(-50%); 
}
/******************************/
.btn_control:hover {
	text-decoration: none;
	background-color: #1cc1d9; /*fondo del link*/
	font-size: 1.1rem;
	border-color: #000000;
}

.btn_control:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6ec2e8),
		to(#b6e2ff));
	background-image: -moz-linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
	background-image: linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
}