 {% extends 'acq/base.html' %}
 {% load static %}
 {% block title %}

 {% endblock %}

 {% block content %}

<link rel="stylesheet" href="{% static 'css/list.css' %}">

<div id="cuerpo">
	<h2 class="titulo">Patios de Tanques o Terminales de
		Almacenamiento</h2>
		<div>
			<a href="{%url 'uacq:add_tf'%}" id="agregar" type="button" class="btn_control">
				<img class="imagen" src="{% static "recursos/iconos/add24x24.png" %}"/>
					AGREGAR INSTALACIÓN</a>
		</div>
		<div id="principal">
			<table>
				<!-- Encabezado de la tabla con tres columnas-->
				<thead>
					<tr>
						<th>PATIO</th>
						<th>ACCION</th>
						<th>TANQUES</th>
					</tr>
				</thead>

				{% for patio in object_list %}
					<tr>
					<!-- Columna1=Nombre del patio -->
						<td id="nombre_patio">{{ patio.Nombre }}</td>

						<!-- Columna2=links -->
						
						<td>
							<a href="{% url 'uacq:detail_tf' patio.pk  %}" class="btn_tabla">
							<img class="img_interna" src="{% static "recursos/iconos/consultar18X18.png" %}"/>Detalle</a>
							<a href="{% url 'uacq:edit_tf' patio.pk  %}" class="btn_tabla">
							<img class="img_interna" src="{% static "recursos/iconos/editar18x18.png" %}"/>Editar</a>
							<a href="{% url 'uacq:del_tf' patio.pk  %}" class="btn_tabla">
								<img class="img_interna" src="{% static "recursos/iconos/cancel18x18.png" %}"/>
								Borrar</a>
              				<a href="{% url 'uacq:list_aor' patio.pk  %}" class="btn_tabla">AREA DE PROCESO</a>
						</td>

					<!-- Columna3=link a tanques del patio -->
					<td>
						<a href="{% url 'uacq:list_tk' patio.pk %}" class="btn_tabla">
						<img class="img_interna" src="{% static "recursos/iconos/tanque18x18.png" %}"/>Tanques</a>
					</td>
				 	</tr>
				{% endfor %}
			</table>
		</div>
</div>
{% endblock %}
