
  {% extends 'acq/base.html' %}
  {% block title %} Patios {% endblock %}
  {% block content %}
 



  <h2>Patios de Tanques o Terminales de Almacenamiento</h2>
   
      
       <table id="Patios">

  
    
      <th>NOMBRE </th> <th> ACCIÓN </th> <th>TANQUES</th> 


{% for patio in object_list %}
  <tr>
<td> {{ patio.Nombre }}</td>
 <td>
<a  href="{% url 'uacq:detail_tf' patio.pk  %}">Detalle</a>
<a  href="{% url 'uacq:edit_tf' patio.pk  %}">Editar</a>
<a  href="{% url 'uacq:del_tf' patio.pk  %}">Borrar</a>


</td>
<td>
<a  href="{% url 'uacq:list_tk' patio.pk %}">Tanques</a>
</td>
    
 {% endfor %}

 <h2>Añadir Instalación</h2>
  Haga click <a href="{% url 'uacq:add_tf' %}">AQUÍ</a> para añadir una Instalación.
 


   {% endblock %}
