
  {% extends 'acq/base.html' %}
  {% load static %}

  {% block title %}  {% endblock %}

  {% block content %}

  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">



  <h2 class="text-center">Patios de Tanques o Terminales de Almacenamiento</h2>


       <table id="Patios" table class="table table-striped">



      <th>NOMBRE </th> <th> ACCIÓN </th> <th>TANQUES</th>


{% for patio in object_list %}
  <tr>
<td> {{ patio.Nombre }}</td>
 <td>
<a  href="{% url 'uacq:detail_tf' patio.pk  %}">Detalle</a>
<a  href="{% url 'uacq:edit_tf' patio.pk  %}">Editar</a>
<a  href="{% url 'uacq:del_tf' patio.pk  %}">Borrar</a>



</td>
<td>
<a  href="{% url 'uacq:list_tk' patio.pk %}">Tanques</a>
</td>

 {% endfor %}
</table>


 <div class="d-grid gap-2 col-6 mx-auto">
   <h2 >Añadir Instalación</h2>

   <a href="{%url 'uacq:add_tf'%}" type="button" class="btn btn-info"> Agregar Instalación</a>
</div>



   {% endblock %}
