{% extends 'acq/base.html' %}
{% load static %}
{% block title %}Detalle de tanque{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/detalle_tk.css' %}">
<script src={% static 'js/jquery-3.6.0.min.js' %}></script>
<script src={% static 'js/detalle_tk.js' %}></script>
	<h2 class="titulo">DETALLE DEL TANQUE {{tk.Nombre}}</h2>
	<div>
		<a href="{% url 'uacq:grupo_tk' %}" id="regresar" type="button" class="btn_control" >
			<img id="imgregresar" src="{% static "recursos/iconos/atras24x24.png" %}"/>REGRESAR</a>
	</div>

	<div id="ventana">
		<p id="nrotanque"  style="display:none;">{{tk.id}}</p>
		<div id="barra_tanque">
			<div id="tanque">
				<!--<p id="idtanque" class="idtanque">{{tk.Nombre}}</p>-->
				<p id="nivel">{{ Data.LT }}%</p>
					<div id="contenedor"> 
						<img id="imgtanque" src="{% static "recursos/imagenes/tanque.png" %}">
						<div id="contenedor_barra">
							<div id="barra">0%</div>
						</div>
					</div>
			</div>
		</div>	
		<div id="data_pri" >
			<div id="milt"><a href="{% url 'uacq:Detalle_Analogico' ID.LT %}"  title="ir al detalle de punto LT"></a></div>	
			<table class="tabla">
				<caption class="titulotabla">VARIABLES PRINCIPALES</caption>
				<tr>
					<td class="etiqueta1">LT:</td>
					<td id="lt" class="dato">{{LT_UNIDAD}}</td>
					<td class="dato">
						<a href="{% url 'uacq:Detalle_Analogico' ID.LT %}" class="btn_tabla" title="ir al detalle de alarma LT">
						<img class="img_interna" src="{% static "recursos/iconos/editar18x18.png" %}"/>Detalle LT</a>
					</td>
				</tr>
				<tr><td class="etiqueta1">TOV:</td>
					<td id="tov" class="dato">{{TOV_UNIDAD}}</td>
					<td class="dato">
						<a href="{% url 'uacq:Detalle_Analogico' ID.TOV %}" class="btn_tabla" title="ir al detalle de alarma LT">
							<img class="img_interna" src="{% static "recursos/iconos/editar18x18.png" %}"/>Detalle TOV</a>
					</td>
				</tr> 
				<tr><td class="etiqueta1">NSV:</td>
					<td id="nsv" class="dato">{{NSV_UNIDAD}}</td>
					<td class="dato">
						<a href="{% url 'uacq:Detalle_Analogico' ID.NSV%}" class="btn_tabla" title="ir al detalle de alarma LT">
							<img class="img_interna" src="{% static "recursos/iconos/editar18x18.png" %}"/>Detalle NSV</a>
					</td>
				</tr>
				<tr><td class="etiqueta1">GSV:</td>
					<td id="gsv" class="dato">{{GSV_UNIDAD}}</td>
					<td class="dato">
						<a href="{% url 'uacq:Detalle_Analogico' ID.GSV %}" class="btn_tabla" title="ir al detalle de alarma LT">
							<img class="img_interna" src="{% static "recursos/iconos/editar18x18.png" %}"/>Detalle GSV</a>
					</td>
				</tr>
			</table>
			<table class="tabla">
				<caption class="titulotabla">VARIABLES COMPLEMENTARIAS</caption>
				<tr><td class="etiqueta1">PT:</td>
					<td id="pt" class="dato">{{PT_UNIDAD}}</td>
					<td class="dato">
						<a href="{% url 'uacq:Detalle_Analogico' ID.PT %}" class="btn_tabla" title="ir al detalle de alarma LT">
							<img class="img_interna" src="{% static "recursos/iconos/editar18x18.png" %}"/>Detalle PT</a>
					</td>
				</tr>
				<tr><td class="etiqueta1">AYS:</td>
					<td id="ays" class="dato">{{AYS_UNIDAD}}</td>
					<td class="dato">
						<a href="{% url 'uacq:Detalle_Analogico' ID.AYS %}" class="btn_tabla" title="ir al detalle de alarma LT">
							<img class="img_interna" src="{% static "recursos/iconos/editar18x18.png" %}"/>Detalle AYS</a>
					</td>
				</tr>
				<tr><td class="etiqueta1">TT:</td>
					<td id="tt" class="dato">{{TT_UNIDAD}}</td>
					<td class="dato">
						<a href="{% url 'uacq:Detalle_Analogico' ID.TT %}" class="btn_tabla" title="ir al detalle de alarma LT">
							<img class="img_interna" src="{% static "recursos/iconos/editar18x18.png" %}"/>Detalle TT</a>
					</td>
				</tr>
				<tr><td class="etiqueta1">LTA:</td>
					<td id="lta" class="dato">{{LTA_UNIDAD}}</td>
					<td class="dato">
						<a href="{% url 'uacq:Detalle_Analogico' ID.LTA %}" class="btn_tabla" title="ir al detalle de alarma LT">
							<img class="img_interna" src="{% static "recursos/iconos/editar18x18.png" %}"/>Detalle LTA</a>
					</td>
				</tr>
			</table>
			
		</div>

		<div id="data_sec">
			<div id="izq">
				<table class="tabla">
					<!--valores estaticos, vienen de BD-->
					<caption class="titulotabla">IDENTIFICACION</caption>
					<tr><td class="etiqueta2">NOMBRE:</td><td id="nombre" class="dato">{{tk.Nombre}}</td></tr>
					<tr><td class="etiqueta2">DESCRIPTOR:</td><td id="descriptor" class="dato"> {{tk.Descriptor}}</td></tr>
					<tr><td class="etiqueta2">AOR:</td><td id="aor" class="dato">{{tk.id_aor.Nombre}}</td></tr>
				</table>
				<table class="tabla">
					<!--valores estaticos, vienen de BD-->
					<caption class="titulotabla">RANGOS DE OPERACION</caption>
					<tr><td class="etiqueta2">LT MINIMO:</td><td id="lt_minimo" class="dato">{{LT_MINIMO}} {{ LT_UNIDAD}}</td></tr>
					<tr><td class="etiqueta2">LT MAXIMO:</td><td id="lt_maximo" class="dato">{{LT_MAXIMO}} {{ LT_UNIDAD}}</td></tr>
					<tr><td class="etiqueta2">TOV MINIMO:</td><td id="tov_minimo" class="dato">{{TOV_MINIMO}} {{TOV_UNIDAD}}</td></tr>
					<tr><td class="etiqueta2">TOV MAXIMO:</td><td id="tov_maximo" class="dato">{{TOV_MAXIMO}} {{TOV_UNIDAD}}</td></tr>
				</table>
			</div>
			<div id="der">
				<table class="tabla">
					<caption class="titulotabla">ALARMAS</caption>

					<tr>
						<td class="etiqueta1">LT:</td><td id="lt_alarma" class="dato"></td>
						<td class="dato">
							<a href="{% url 'uacq:Detalle_Analogico' ID.LT %}" id="link_lt" class="btn_tabla" title="ir al detalle de alarma LT">
								<img class="img_interna" src="{% static "recursos/iconos/editar18x18.png" %}"/>Detalle LT</a>
						</td>
					</tr>

					<tr>
						<td class="etiqueta1">PT:</td><td id="pt_alarma" class="dato"></td>
						<td class="dato">
							<a href="{% url 'uacq:Detalle_Analogico' ID.PT %}" id="link_pt" class="btn_tabla" title="ir al detalle de alarma LT">
								<img class="img_interna" src="{% static "recursos/iconos/editar18x18.png" %}"/>Detalle PT</a>
						</td>
					</tr>

					<tr>
						<td class="etiqueta1">TT:</td><td id="tt_alarma" class="dato"></td>
						<td class="dato">
							<a href="{% url 'uacq:Detalle_Analogico' ID.TT %}" id="link_tt" class="btn_tabla" title="ir al detalle de alarma LT">
								<img class="img_interna" src="{% static "recursos/iconos/editar18x18.png" %}"/>Detalle TT</a>
						</td>
					</tr>

					<tr>
						<td class="etiqueta1">LTA:</td><td id="lta_alarma" class="dato"></td>
						<td class="dato">
							<a href="{% url 'uacq:Detalle_Analogico' ID.LTA %}" id="link_lta" class="btn_tabla" title="ir al detalle de alarma LT">
								<img class="img_interna" src="{% static "recursos/iconos/editar18x18.png" %}"/>Detalle LTA</a>
						</td>
					</tr>
					
					<tr>
						<td class="etiqueta1">AYS:</td><td id="ays_alarma" class="dato">
						</td><td class="dato">
							<a href="{% url 'uacq:Detalle_Analogico' ID.AYS %}" id="link_ays" class="btn_tabla" title="ir al detalle de alarma LT">
								<img class="img_interna" src="{% static "recursos/iconos/editar18x18.png" %}"/>Detalle AYS</a>
						</td>
					</tr>
					
					<tr>
						<td class="etiqueta1">TOV:</td><td id="tov_alarma" class="dato"></td>
						<td class="dato">
							<a href="{% url 'uacq:Detalle_Analogico' ID.TOV %}" id="link_tov" class="btn_tabla" title="ir al detalle de alarma LT">
								<img class="img_interna" src="{% static "recursos/iconos/editar18x18.png" %}"/>Detalle TOV</a>
						</td>
					</tr>
					
					<tr>
						<td class="etiqueta1">NSV:</td><td id="nsv_alarma" class="dato"></td>
						<td class="dato">
							<a href="{% url 'uacq:Detalle_Analogico' ID.NSV %}" id="link_nsv" class="btn_tabla" title="ir al detalle de alarma LT">
								<img class="img_interna" src="{% static "recursos/iconos/editar18x18.png" %}"/>Detalle NSV</a>
						</td>
					</tr>
					
					<tr>
						<td class="etiqueta1">GSV:</td><td id="gsv_alarma" class="dato"></td>
						<td class="dato">
							<a href="{% url 'uacq:Detalle_Analogico' ID.GSV %}" id="link_gsv" class="btn_tabla" title="ir al detalle de alarma LT">
								<img class="img_interna" src="{% static "recursos/iconos/editar18x18.png" %}"/>Detalle GSV</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	{% endblock %}