{% extends 'acq/base.html' %}
{% load static %}
{% block title %}Detalle de tanque{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/detalle_tk.css' %}">
<script src={% static 'js/jquery-3.6.0.min.js' %}></script>
<script src={% static 'js/detalle_tk.js' %}></script>
	<h2 class="titulo">DETALLE DEL TANQUE {{tk.Nombre}}</h2>
	<div>
		<a href="{% url 'uacq:grupo_tk' %}" id="regresar" type="button" class="btn_control" >
			<img id="imagen" src="{% static "recursos/iconos/atras24x24.png" %}"/>REGRESAR</a>
	</div>

	<div id="ventana">
		<p id="nrotanque"  style="display:none;">{{tk.id}}</p>
		<div id="barra_tanque">
			<div id="tanque">
				<!--<p id="idtanque" class="idtanque">{{tk.Nombre}}</p>-->
				<p id="nivel">{{ Data.LT }}%</p>
					<div id="contenedor"> 
						<img src="{% static "recursos/imagenes/tanque.png" %}">
						<div id="contenedor_barra">
							<div id="barra">0%</div>
						</div>
					</div>
			</div>
		</div>	
		<div id="data_pri">
			<br>	
			<table class="tabla">
				<caption class="titulotabla">VARIABLES PRINCIPALES</caption>
				<tr><td class="etiqueta">LT:</td><td id="lt" class="dato">---</td></tr>
				<tr><td class="etiqueta">TOV:</td><td id="tov" class="dato">---</td></tr> 
				<tr><td class="etiqueta">NSV:</td><td id="nsv" class="dato">---</td></tr>
				<tr><td class="etiqueta">GSV:</td><td id="gsv" class="dato">---</td></tr>
			</table>
			
		</div>

		<div id="data_sec">
			<div id="izq">
				<table class="tabla">
					<caption class="titulotabla">IDENTIFICACION</caption>
					<tr><td class="etiqueta">NOMBRE:</td><td id="nombre" class="dato">{{tk.Nombre}}</td></tr>
					<tr><td class="etiqueta">DESCRIPTOR:</td><td id="descriptor" class="dato"> {{tk.Descriptor}}</td></tr>
					<tr><td class="etiqueta">AOR:</td><td id="aor" class="dato">{{Aor}}</td></tr>
				</table>
				<table class="tabla">
					<caption class="titulotabla">VARIABLES COMPLEMENTARIAS</caption>
					<tr><td class="etiqueta">PT:</td><td id="pt" class="dato">---</td></tr>
					<tr><td class="etiqueta">AYS:</td><td id="ays" class="dato">---</td></tr>
					<tr><td class="etiqueta">TT:</td><td id="tt" class="dato">---</td></tr>
					<tr><td class="etiqueta">LTA:</td><td id="lta" class="dato">---</td></tr>
				</table>
				<table class="tabla">
					<caption class="titulotabla">RANGOS DE OPERACION</caption>
					<tr><td class="etiqueta">LT MAXIMO:</td><td id="lt_maximo" class="dato">---</td></tr>
					<tr><td class="etiqueta">LT MINIMO:</td><td id="lt_minimo" class="dato">---</td></tr>
					<tr><td class="etiqueta">TOV MAXIMO:</td><td id="tov_maximo" class="dato">---</td></tr>
					<tr><td class="etiqueta">TOV MINIMO:</td><td id="tov_minimo" class="dato">---</td></tr>
				</table>
			</div>
			<div id="der">
				<table class="tabla">
					<caption class="titulotabla">ALARMAS</caption>
					<tr><td class="etiqueta">LT:</td><td id="lt_alarma" class="dato"><a href=""></a></td></tr>
					<tr><td class="etiqueta">PT:</td><td id="pt_alarma" class="dato"><a href=""></a></td></tr>
					<tr><td class="etiqueta">TT:</td><td id="tt_alarma" class="dato"></td></tr>
					<tr><td class="etiqueta">LTA:</td><td id="lta_alarma" class="dato"></td></tr>
					<tr><td class="etiqueta">AYS:</td><td id="ays_alarma" class="dato"></td></tr>
					<tr><td class="etiqueta">TOV:</td><td id="tov_alarma" class="dato"></td></tr>
					<tr><td class="etiqueta">NSV:</td><td id="nsv_alarma" class="dato"></td></tr>
					<tr><td class="etiqueta">GSV:</td><td id="gsv_alarma" class="dato"></td></tr>
				</table>
			</div>
			<!---de la BD-
			<p class="dato">Nombre: {{tk.Nombre}}</p>
			<p class="dato">id: {{tk.id}}</p>
			<p class="dato">Descriptor: {{tk.Descriptor}}</p>
			
			<p class="dato">TOV: {{ Data.TOV }}</p>
			<p class="dato">LT: {{ Data.LT }}</p>
			<p class="dato">LT_URGENTE: {{ Data.LT_URGENTE }}</p>
			
			<p class="dato">AOR: {{Aor}}</p>
			<p class="dato">TOV_MAXIMO: {{TOV_MAXIMO}}</p> -->
		</div>
	</div>
	{% endblock %}
		
		<!--
		<div>
			<table>
				<tr>
					<td class="etiqueta">Nombre:</td>
					<td class="dato">{{Nombre}}</td>
				</tr>

				<tr>
					<td class="etiqueta">Descriptor:</td>
					<td class="dato">{{Descriptor}}</td>
				</tr>
				<tr>
					<td class="etiqueta">TOV:</td>
					<td class="dato">{{ Data.TOV }}</td>
				</tr>
        		<tr>
					<td class="etiqueta">LT:</td>
					<td class="dato">{{ Data.LT }}</td>
				</tr>
				<tr>
					<td class="etiqueta">Area de procesos:</td>
					<td class="dato">{{ Aor}}</td>
				</tr>
        		<tr>
          			<td class="etiqueta">TOV MAXIMO:</td>
          			<td class="dato">{{ TOV_MAXIMO}}</td>
        		</tr>
			</table>
		</div>
	-->
