{% extends "acq/base.html" %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/edit.css' %}">

<div id="ventana">
	<p>
		<!-- Encabezado-->
		<label for="encabezado">Editar Usuario</label>
  <p>



	<form method="post">

   		{% csrf_token %}

  		{{ form.non_field_errors }}

  		{% for hidden_field in form.hidden_fields %}
    		{{ hidden_field.errors }}
    		{{ hidden_field }}
		{% endfor %}


   		<div >
  			<table id="ventana1" border="1">
							<tr>
								<td class="etiqueta">username</td>
								<td class="dato">{{form.user.pk }}</td>
							</tr>

      				<tr>
        				<td class="etiqueta">nombres</td>
								<td class="dato">{{ form.user.User.first_name }}</td>
							</tr>

							<tr>
								<td class="etiqueta">apellidos</td>
								<td class="dato">{{ form.user.Userlast_name }}</td>
							</tr>

							<tr>
									<td class="etiqueta">email</td>
									<td class="dato">{{form.user.User.email }}</td>
							<tr>

								<td class="etiqueta">password</td>
								<td class="dato">{{ form.user.User.password }}</td>

							</tr>

					<tr>

						<td class="etiqueta">patios</td>
						<td class="dato">{{ form.patios}}</td>

					</tr>


										<tr>

											<td class="etiqueta">patios</td>

										</tr>




 	 		</table>
   		</div>
		<button type="submit" class="btn_control">Modificar</button>
		<a href="{% url 'uacq:list_user' %}" type="button" class="btn_control"> Regresar</a>

	</form>
</div>

{% endblock %}
