{% extends "acq/base.html" %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/edit.css' %}">

<div id="ventana">
	<p>
		<!-- Encabezado-->
		<label for="encabezado">Editar Usuario</label>
  <p>



	<form method="post">

   		{% csrf_token %}


   		<div >
  			<table id="ventana1" border="1">

							<tr>
								<td class="etiqueta">username</td>
								<td class="dato">{{ object.user.username }}</td>
							</tr>

      				<tr>
        				<td class="etiqueta">nombres</td>
								<td class="dato">{{ object.user.first_name }}</td>
							</tr>

							<tr>
								<td class="etiqueta">apellidos</td>
								<td class="dato">{{ object.user.last_name }}</td>
							</tr>

							<tr>
									<td class="etiqueta">email</td>
									<td class="dato">{{ object.user.email }}</td>
							<tr>

								<td class="etiqueta">password</td>
								<td class="dato">{{ object.user.password }}</td>

							</tr>
							<tr>

								<td class="etiqueta">patios</td>
								<td class="dato">{{ object.patios }}</td>

							</tr>



 	 		</table>
   		</div>
		<button type="submit" class="btn_control">Modificar</button>
		<a href="{% url 'uacq:list_user' %}" type="button" class="btn_control"> Regresar</a>

	</form>
</div>

{% endblock %}
