{% extends 'acq/base.html' %}
{% load static %}
{% block title %}Borar Usuario{% endblock %}

{% block content %}
	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'css/del.css' %}">

	<div id="ventana">
		<p>
			<label for="encabezado">Eliminar Usuario</label>
		</p>

		<form  method="post">
			{% csrf_token %}
			<p>	Esta seguro de eliminar el Usuario:</p>
			<p>{{object.first_name}} {{object.last_name}} ?</p>
			<button id="tk_modificar" type="submit" class="btn_control">
							<img class="imagen" src="{% static "recursos/iconos/cancel24x24.png" %}"/>Borrar</button>
			<a id="tk_regresar" href="{{ view.get_success_url }}" type="button" class="btn_control">
							<img class="imagen" src="{% static "recursos/iconos/atras24x24.png" %}"/>Regresar</a>
		<br>
		</form>
	</div>
{% endblock %}
