{% extends 'acq/base.html' %}
{% load static %}
{% block title %}Borar Usuario{% endblock %}
{% block footer %} <a href="{{ view.get_success_url }}" type="button" class="btn btn-info"> No, Regresar</a>
{% endblock %}

{% block content %}

<h1>Borrar Usuario</h1>
<form  method="post">
{% csrf_token %}
Esta seguro de eliminar esta Usuario:  {{user.username}}?
<input  type="submit"  value="Si, Borrar"  />
<br>
</form>

<!-- 


<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" href="{% static 'css/del_user.css' %}">

<div id="ventana">
	<p>
		
		<label for="encabezado">Eliminar Usuario: {{user.username}}</label>
	</p>

	<form method="post" novalidate>	
   		
   		<div >
  			
   		</div>
    	
		<button type="submit" class="btn_control">Modificar</button>
		<a href="{% url 'uacq:list_user' %}" type="button" class="btn_control"> Regresar</a>
	</form>
</div>

 
 -->


   {% endblock %}
