
  {% extends 'acq/base.html' %}
  {% block title %}{% endblock %}
  {% block content %}
 


  
      
       <table id="Tk">

  
    
        <th>NOMBRE </th> <th> ACCIÓN </th> <th>  TABLA TCT </th>

<h2>Tanques de Almacenamiento de la instalacion {{object_list.first.id_patioTanque.Nombre}}</h2>

{% for tk in object_list %}


  <tr>
 <td> {{ tk.Nombre }} </td>

 
 <td>
<a  href="{% url 'uacq:detail_tk' tk.pk  %}">Detalle</a>
<a  href="{% url 'uacq:edit_tk' tk.pk  %}">Editar</a>
<a  href="{% url 'uacq:del_tk' tk.pk  %}">Borrar</a>

</td>

 
 <td>
 	<a href ="{{tk.tct_file.url}}" >ver</a>


</td>




    
 {% endfor %}


  PARA AÑADIR UN TANQUE A LA INSTALACION <a href="{%url 'uacq:add_tk'%}"> <H3>Haga click AQUI</h3></a> 

 

   {% endblock %}
