
  {% extends 'acq/base.html' %}
  {% block title %} {% endblock %}
  {% block content %}
 



  <h2>Tanques de Almacenamiento de la instalacion XXX</h2>
   
      
       <table id="Tk">

  
    
        <th>ID</th> <th>NOMBRE </th> <th> ACCIÓN </th> 


{% for tk in object_list %}
  <tr>
 <td> {{ tk.pk }} </td> <td> {{ tk.Nombre }}</td>
 <td>
<a  href="{% url 'uacq:detail_tk' tk.pk  %}">Detalle</a>
<a  href="{% url 'uacq:edit_tk' tk.pk  %}">Editar</a>
<a  href="{% url 'uacq:del_tk' tk.pk  %}">Borrar</a>
</td>
    
 {% endfor %}

 <h2>Añadir Tanque</h2>

  Haga click <a href="{% url 'uacq:add_tk'  %}">AQUÍ</a> para añadir una Instalación.

   {% endblock %}
