<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TAGS</title>
  </head>
  <body>
    <h1>Tags</h1>

    <p>lolo</p>

   


<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>HTML Table</h2>




<table >


  <tr>
    <th>Id</th>
    <th>Pv</th>
 	<th>Timestamp</th>
  </tr>
  <tr>
    <td>"id"</td>
    <td>"tag"</td>
    <td>"timestamp"</td>
  </tr> 


</table>
 


 <script>
 {
  var jsonObject = JSON.parse('{{ json_data | escapejs }}');
  alert(jsonObject.id_tag);

}
	</script>
