{% extends "acq/base.html" %}
{% load static %}
{% block title %}{% endblock %}


{% block content %}

<link rel="stylesheet" href="{% static 'css/add.css' %}">
<!--css add=edit-->

<div id="ventana">
	<p>
		<label for="encabezado">Agregar Tanque</label>
	</p>

	
	<form id="my_form" method="post">
   		{% csrf_token %}
  		{{ form.non_field_errors }}

  		{% for hidden_field in form.hidden_fields %}
    		{{ hidden_field.errors }}
    		{{ hidden_field }}
		{% endfor %}

   		<div >
  			<table border="1">
    			{% for field in form.visible_fields %}
      				<tr>
        				<td class="etiqueta">{{ field.label_tag }}</td>
        				<td class="dato">{{ field }}</td>
      				</tr>
    			{% endfor %}
 	 		</table>
   			<h2>{{usuario.pk}}</h2>
   		</div>
		<button type="submit" class="btn_control">Agregar</button>

		<!--  Posible solucioa a sustituir boton por link
		<a href="javascript:{}" onclick="document.getElementById('my_form').submit(); return false;">Agregar</a>-->
	</form>






	<a class="btn_control" href="{% url 'uacq:list_tf'  %}">Regresar</a>

	<!--
		<button class="btn_control" role="link" onclick="window.location='{% url 'uacq:list_tf' %}'">Regresar</button>
		 -->
	</form>
</div>

{% endblock %}
