{% extends "acq/base.html" %}
{% load static %}
{% block title %}Agregar Usuarios{% endblock %}


{% block content %}

<link rel="stylesheet" href="{% static 'css/add.css' %}">
<!--css add=edit-->

<div id="ventana">
	<p>
		<label for="encabezado">Agregar Usuario</label>
	</p>

	<form method="post" >
   		{% csrf_token %}
  		{{ form.non_field_errors }}

  		{% for hidden_field in form.hidden_fields %}
    		{{ hidden_field.errors }}
    		{{ hidden_field }}
		{% endfor %}

   		<div >
  			<table border="1">
    			{% for field in form.visible_fields %}
						{% if field.label_tag %}





      				<tr>
								<td class="etiqueta"> {{ field.label_tag }} </td>


								<td class = "dato" > {{field}} </td>

      				</tr>


								{% endif %}

    			  {% endfor %}
 	 		</table>
			</div>
		<button id="tk_modificar" type="submit" class="btn_control">
							<img class="imagen" src="{% static "recursos/iconos/add24x24.png" %}"/>Agregar</button>
		<a id="tk_regresar" href="{% url 'uacq:list_user' %}" type="button" class="btn_control">
							<img class="imagen" src="{% static "recursos/iconos/atras24x24.png" %}"/>Regresar</a>
	</form>
</div>

<p> {{mensajes}} </p>


{% endblock %}
