{% extends "acq/base.html" %}
{% load static %}
{% block title %}Agregar Usuarios{% endblock %}


{% block content %}

<link rel="stylesheet" href="{% static 'css/add.css' %}">
<!--css add=edit-->

<div id="ventana">
	<p>
		<label for="encabezado">Agregar Usuario</label>
	</p>

	<form method="post" >
   		{% csrf_token %}
  		{{ form.non_field_errors }}

  		{% for hidden_field in form.hidden_fields %}
    		{{ hidden_field.errors }}
    		{{ hidden_field }}
		{% endfor %}

   		<div >
  			<table border="1">
    			{% for field in form.visible_fields %}
      				<tr>
        				<td class="etiqueta">{{ field.label_tag }}</td>
        				<td class="dato">{{ field }}</td>
      				</tr>
    			{% endfor %}
 	 		</table>
				<input type="radio" id="operativos" name="operativos" value="Operativos">
				<label for="male">Operativos</label><br>
				<input type="radio" id="supervisores" name="supervisores" value="Supervisores">
				<label for="female">Supervisores</label><br>
   		</div>
		<button type="submit" class="btn_control">Agregar</button>
		<a href="{% url 'uacq:list_user' %}" type="button" class="btn_control"> Regresar</a>
	</form>
</div>

{% endblock %}
