{% extends 'acq/base.html' %}
{% load static %}
{% block title %}Ambiente Supervisor{% endblock %}  <!-- LINEA MODIFICADA POR MM -->


{% block content %}
	<link rel="stylesheet" href="{% static 'css/menu.css' %}">
	<div id="container">
		<table id="tabla">
			<tr>
				<td>
					<a href="{% url 'uacq:comm_mb_master' %}"> <br>MODBUS MAESTRO</br>
						<img src="{% static "recursos/iconos/maestro128x128.png" %}" />
					</a>
				</td>
				<td>
					<a href=""> <br>FACTORES TANQUES</br>
						<img src="{% static "recursos/iconos/factores128x128.png" %}" />
					</a>
				</td>
			</tr>
			<tr>
			<tr><td><br></td></tr>

				<td>
					<a href="{% url 'uacq:Menu' %}">
						<img src="{% static "recursos/iconos/regresar128x128.png" %}"/> <br>REGRESAR</br>
					</a>
				</td>
			</tr>
		</table>
	</div>
{% endblock %}

{% block footer %}
<!-- Sobreescribe el contenido del bloque -->
{% endblock %}
