{% extends 'acq/base.html' %} 
{% load static %} 
{% block title %}Ambiente Supervisor {% endblock %} 
{% block content %}
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" href="{% static 'css/menu_supervisor.css' %}">
<div>
	<table id="MenuSupervisor">
		<tr>
			<th><a href="#">VISTAS</a></th>

			<th><a href="#">USUARIOS</a></th>
		</tr>
		<tr>
			<td><img class="img" src="{% static "recursos/iconos/vistas.jpg" %}"></td>

			<td><img class="img" src="{% static "recursos/iconos/usuarios.jpg" %}"></td>
		</tr>
		<tr>
			<th><a href="{% url 'uacq:list_tf' %}">PLANTAS</a></th>
			<th><a href="{% url 'uacq:logout' %}" >SALIR</a></th>
		</tr>
		<tr>
			<td><img class="img" src="{% static "recursos/iconos/plantas.jpg" %}"></td>
			<td><img class="img" src="{% static "recursos/iconos/logout.jpg" %}"></td>
		</tr>
	</table>
</div>
{% endblock %}
