{% extends "acq/base.html" %}
{% load static %}
{% block title %}Modbus Maestro{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/mb_maestro.css' %}">
<script src={% static 'js/jquery-3.6.0.min.js' %}></script>

<div id="ventana">
  <p>
    <label for="encabezado">Configuración Modbus Maestro</label>
  </p>
  <form action="" method="post">
    {% csrf_token %}

   <!-- {{ form.as_p}}-->

    <table>
      {% for field in form.visible_fields %}
      <tr>
        <td class="etiqueta">{{ field.label_tag }}</td>
        <td class="dato">{{ field }}</td>
        <!--
        <p>id_{{field.label_tag}}</p>
        -->
 
      </tr>
      {% endfor %}
    </table>

    <button id="guardar_en_bd" type="submit" class="btn_control" name="guardar_en_bd">
      <img class="imagen" src="{% static "recursos/iconos/bd_add24x24.png" %}" />Guardar en BD</button>

    <a id="regresar" href="{% url 'uacq:configuracion' %}" type="button" class="btn_control">
      <img class="imagen" src="{% static "recursos/iconos/atras24x24.png" %}"/> Regresar</a>

<!--<img class="imagen" src="{% static "recursos/iconos/disco_add24x24.png" %}"/>-->
    <input id="guardarDisco" value="Guardar en Disco" type="submit" formmethod="get" name="guardar_en_disco" class="btn_control"></input>
  </form>

  <!-- Este form abre un dialog para cargar un archivo -->
  <form id="subir_configuracion" enctype="multipart/form-data" action="" method="post">
    {% csrf_token %}
    <!--{{ conf.as_table }}-->
    <dialog id="favDialog">
      <form method="dialog">
        <!-- Em Mozilla para que dialog funcione ponga en la barra de direcciones about:config
          y cambie "dom.dialog_element.enabled" a true.
        -->
        <section>
          <table id="tablaconf">
            {% for field in conf.visible_fields %}
            <tr>
              <td class="etiqueta">{{ field.label_tag }}</td>
              <td class="dato">{{ field }}</td>
            </tr>
            {% endfor %}
          </table>
        </section>
        <menu>
          <button id="cancelar" class="btn_control" type="reset">
            <img class="imagen" src="{% static "recursos/iconos/atras24x24.png" %}" />Cancelar</button>
          <button id="confirmar" type="submit" class="btn_control" name="cargar_archivo" value="Confirmar">
            <img class="imagen" src="{% static "recursos/iconos/confirmar24x24.png" %}" />Confirmar</button>
        </menu>
      </form>
    </dialog>
    <button id="cargarArchivo" class="btn_control"><img class="imagen" src="{% static "recursos/iconos/cargar24x24.png" %}" />Cargar Archivo</button>
  </form>
</div>
<p> {{mensajes}} </p>
<script type="text/javascript" src={% static 'js/mb_maestro.js' %}></script>
<script type="text/javascript" src={% static 'js/mb_maestro1.js' %}></script>
{% endblock %}